.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

.gameview {
  width: 80vw;
  height: 60vw;
  margin: auto;
}
